.main-container{
	margin-left: 70px;
	margin-right: 70px;
}

.inline{
	  display: inline-block;
}

.margintop10{margin-top: 10px;}
.margintop20{margin-top: 20px;}

.marginbottom0{margin-bottom: 0px;}
.marginbottom10{margin-bottom: 10px;}
.marginbottom50{margin-bottom: 50px;}
.marginbottom60{margin-bottom: 60px;}
.width70{width: 70px;}
.width80{width: 80px;}
.width90{width: 90px;}
.width100{width: 100px;}
.width110{width: 110px;}
.width120{width: 120px;}
.width130{width:  130px;}
.width150{width: 150px;}
.width160{width: 160px;}
.width170{width: 170px;}
.width230{width: 230px;}
.width300{width: 300px;}


.main .angular-google-map-container {
height: 450px;
width: 500px;
margin-bottom: 5px;
margin-top: 5px;
border: 10px #fff solid;
box-shadow: 0 0 5px #ccc;
}

.activitymap .angular-google-map-container {
height: 300px;
width: 100%;
margin-bottom: 5px;
margin-top: 5px;
border: 10px #fff solid;
box-shadow: 0 0 5px #ccc;
}